/* h2 {
    color:brown;
    font-style: italic;
}

button {
    margin-top: 50px;
    background-color:rgb(191, 152, 229);
    color:White;
    border-radius: 30px;
    font-size: xx-large;
    
    margin-right: 15px;
}

label {
    font-style: italic;
    font-size: 30px;
}
 */

 
