.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .start{
    color: green;
    margin: 10px;
    font-size: larger;
  }

  .stop{
    color: red;
    font-size: larger;
    margin: 6px;
  }