p{
    line-height:22px;
    text-align:justify;
    font-size: large;
    line-height:30px;
}


h4{
    color:#068E8C; 
    letter-spacing:1px; 
     
    font-size:40px;
    
}

.About{
    
    padding: 300px;
    padding-top:100px;
    font-style: italic;
    font-size: larger;
    
}